* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr--pre-click: white;
  --clr--hover: #fca5a5;
  --clr--post-click: #cbd5e1;
  --clr--title: #1e1b4b;
  --clr--light-background: #a1a1aa;

  --ff--body: "Monoton", sans-serif;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff--body);
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-bottom: 5em;
  width: 100%;
}

.game__grid {
  display: grid;
  height: 100%;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;
  border: 1px solid grey;
  gap: 0.5em;
  padding: 0.5em;
}

.game__grid-disabled {
  pointer-events: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.2em;
  font-size: 5em;
  cursor: pointer;
}

/* .card:hover {
  background-color: var(--clr--hover);
} */

.card-clicked {
  background-color: var(--clr--post-click);
}

.card-disabled {
  pointer-events: none;
}

.game-over {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  color: var(--clr--title);
  font-size: 2em;
  text-align: center;
}

.start-over {
  text-align: center;
  background-color: var(--clr--light-background);
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  color: var(--clr--title);
  font-size: 1.75em;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .card {
    font-size: 4em;
  }

  .game-over {
    width: 60%;
    font-size: 1.75em;
  }

  .start-over {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .card {
    font-size: 3em;
  }

  .game-over {
    font-size: 1.25em;
  }

  .start-over {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .card {
    font-size: 1.75em;
  }

  .game-over {
    width: 50%;
    font-size: 1em;
  }

  .start-over {
    font-size: 0.75em;
  }
}
