/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*          ------------ RESET------------        */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*      --------- LIGHT/DARK THEMES --------      */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

:root,
:root.light {
  --clr--pre-click: white;
  --clr--hover: #fca5a5;
  --clr--post-click: #cbd5e1;
  --clr--title: #1e1b4b;
  --clr--light-background: #a1a1aa;

  --ff--body: "Monoton", sans-serif;
}

:root.dark {
  --clr--pre-click: #1e1b4b;
  --clr--hover: #fca5a5;
  --clr--post-click: #cbd5e1;
  --clr--title: white;
  --clr--light-background: #a1a1aa;

  --ff--body: "Monoton", sans-serif;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*     --------- BODY/WRAPPER STYLES --------     */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

body {
  background-color: var(--clr--pre-click);
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--ff--body);
  font-size: 16px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-bottom: 5em;
  width: 100%;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*    ~~~~~ Toggler Styling ~~~~    */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.theme-toggler {
  display: flex;
  align-self: start;
}

.checkbox-label {
  background-color: var(--clr--title);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 25px;
  padding: 7px;
  margin: 5px 0 0 5px;
  cursor: pointer;
  border-radius: 50px;
  position: relative;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label .ball {
  background-color: var(--clr--pre-click);
  border: 1px solid var(--clr--title);
  width: 22px;
  height: 22px;
  background-color: var(--clr--pre-click);
  border-radius: 50%;
  left: 2px;
  transition: transform 0.2s linear;
  position: absolute;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*       --------- GAME GRID STYLES --------      */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.game__grid {
  display: grid;
  height: 100%;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  width: 50vw;
  height: 50vw;
  border: 1px solid grey;
  gap: 0.5em;
  padding: 0.5em;
  color: var(--clr--title);
}

.game__grid-disabled {
  pointer-events: none;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 0.2em;
  font-size: 5em;
  cursor: pointer;
}

.card-clicked {
  background-color: var(--clr--post-click);
}

.card-disabled {
  pointer-events: none;
}

.game-over {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: fit-content;
  color: var(--clr--title);
  font-size: 2em;
  text-align: center;
}

.start-over {
  text-align: center;
  background-color: var(--clr--title);
  border-radius: 0.5em;
  padding: 0.5em 0.75em;
  color: var(--clr--pre-click);
  font-size: 1.75em;
  cursor: pointer;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/*     --------- RESPONSIVE STYLES --------     */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media screen and (max-width: 1024px) {
  .card {
    font-size: 4em;
  }

  .game-over {
    width: 60%;
    font-size: 1.75em;
  }

  .start-over {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 768px) {
  .card {
    font-size: 3em;
  }

  .game-over {
    font-size: 1.25em;
  }

  .start-over {
    font-size: 1em;
  }
}

@media screen and (max-width: 550px) {
  .card {
    font-size: 1.75em;
  }

  .game-over {
    width: 50%;
    font-size: 1em;
  }

  .start-over {
    font-size: 0.75em;
  }
}
